<h1>Hi <%= @user.username %>!</h1>
<p>Here are some details about your events:</p>

<% if @user.events.any? %>
    <h2>Events created by you:</h2>
    <ul>
        <% @user.events.each do |event| %>
            <li>
                <p>Event date: <%= event.event_date %></p>
                <p>Location: <%= event.location %></p>
            </li>
        <% end %>
    </ul>
<% else %>
    <p>You have not made any events yet. Would you like to</p>
    <% link_to "create an event?", new_event_path %>
<% end %>

<hr>

<% if @user.attended_events.any? %>
    <% today = Date.today %>
    <% previous_events = false %>
    <h2>Events you have already attended:</h2>
    <ul>
        <% @user.attended_events.each do |event| %>
            <% if event.event_date.before?(today)%>    
                <li>
                    <p>Location: <%= event.location %><p>
                    <p>Event date: <%= event.event_date %></p>
                </li>
                <% previous_events = true %>
            <% end %>
        <% end %>
        <% if previous_events == false %>
            <p>You have not attended any events yet.</p>
        <% end %>
    </ul>

    <h2>Events you have signed up for:</h2>
    <% future_events = false %>
    <ul>
        <% @user.attended_events.each do |event| %>
            <% if event.event_date.after?(today) || event.event_date == today %>
                <li>
                    <p>Location: <%= event.location %><p>
                    <p>Event date: <%= event.event_date %></p>
                    <%= button_to "Cancel my Participation", user_path(event_id: event.id), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this event?" } %>
                </li>
                <% future_events = true%>
            <% end %>
        <% end %>
        <% if future_events == false %>
            <p>You have not signed up for any more events yet.</p>
        <% end %>
    </ul>
<% end %>

<p>I would like to <%= link_to "Edit my details", edit_user_registration_path %></p>
<%= link_to "Return to Event list", root_path %>