<h1>List of upcoming events</h1>

<% if @events.any? && @events != nil %>
    <h2>Past events</h2>
    <% if @past.any? %>
        <% @past.each do |event| %>
            <li>
                <p>Event on at: <%= event.location %></p>
                <p>on <%= event.event_date%> (<%=link_to "view this event", event_path(event)%>)</p>
            </li>
        <% end %>
    <% else %>
        <p>There are no past events.</p>
    <% end %>
    <hr>
    <h2>Upcoming Events</h2>
    <% if @upcoming.any? %>
        <% @upcoming.each do |event| %>
            <li>
                <p>Event on at: <%= event.location%></p>
                <p>on <%= event.event_date%> (<%=link_to "view this event", event_path(event)%>)</p>
            </li>
        <% end %>
    <% else %>
        <p>There are no upcoming events yet.</p>
    <% end %>

<% end %>


<%= link_to "Would you like to create a new event?", new_event_path %>